body {
  text-align: center;
  /* background: #87CEFA; */
  background: #0e0b16;
}

h2 {
  margin-top: 0.5em;
  font-family: 'Josefin Sans', sans-serif;
  color: #e66465;
}

input {
  width: 40em;
}

button {
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease-in-out;
  color: #e66465;
  background-color: #062f4f;
  vertical-align: center;
  border: 1px solid #b82601;
  border-radius: 0.25em;
}

button:hover {
  background: #e7dfdd;
  color: #e66465;
}

.services {
  background: white;
  border-radius: 1.5em;
  display: none;
  flex-direction: row;
  justify-content: center;
  margin: 1.5em;
  margin-top: 0.5em;
  align-items: center;
  padding: 1.5em;
}

.services img {
  height: 7em;
  margin: 1.5em;
  margin-left: 7em;
  margin-right: 7em;
}

.services i {
  border-radius: 100%;
  background: lime;
}

.results {
  background: white;
  border-radius: 1.5em;
  padding: 0.5em;
  margin-top: 1em;
  width: 30em;
  display:none;
}

.results img {
  height: 13em;
  align-content: center;
  border-radius: 0.5em;
  border: black;
}